<p>Dear {{ name }},</p>
<p>We would like to notify you that your account has been frozen from the platform.</p>
<p>Please reach out to verdant@support.com should you have any queries on this.</p>
<p>Thank you,</p>
<p>Verdant Team</p>       