<p>You're receiving this email because you requested a password reset for your user account at ELearning - HUST.</p>
<p>Please click the link below to reset your password:</p>
<p><a href="{{ resetPwdURL }}">{{ resetPwdURL }}</a></p>
<p>If you didn’t request this email, there’s nothing to worry about — you can safely ignore it.</p>
<p>Thank you,</p>
<p>ELearning Team</p>